/* img {
    max-width: 300px;
    max-height: 300px;
    display: block;
} */

.container {
    margin: 20px;
  }

  .shadow {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 20px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .label {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }

  .info {
    font-size: 20px;
    margin-top: 5px;
  }

  .picture {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .picture img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }

  .link {
    display: block;
    margin-top: 20px;
  }
